doctype html
html(lang='en')

    head
        title movie texture study
        link(rel="icon" href="favicon.ico")
        //script(type="text/javascript" src="js/minMatrix.js")
        //script(type="text/javascript" src="js/inflate.min.js")
        //link(type="text/css", href="")
        //script(type="text/javascript" src="js/WebGL.js")
        script(type="text/javascript" src="js/main.js")


    body
        canvas#main
