doctype html
html(lang='en')

    head
        title movie texture study
        link(rel="icon" href="favicon.ico")
        //script(type="text/javascript" src="js/minMatrix.js")
        //script(type="text/javascript" src="js/inflate.min.js")
        //link(type="text/css", href="")
        //script(type="text/javascript" src="js/WebGL.js")
        script(type="text/javascript" src="js/childMain.js")
        style(type='text/css').
            body{
                margin: 0;
                padding: 0;
            }
            #img {
                position: absolute;
                margin:0;
                padding: 0;
            }


    body