@import "reset.min.css";

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


canvas {
  //width: 100%!important;
  //height: 100%!important;;
  margin: 0;
  position: absolute;
}

body {
  background-color: #555;
}